<div class="offset4 span4 well">
	<h4><i class="icon-lock"></i> Member Login</h4>
	<hr/>
	<div class="clearfix form">
		<p><input id="username" type="text" name="email" placeholder="email"/></p>
		<p><input id="password" type="password" name="password" placeholder="password"/></p>
		<p><a href="#/forgot">Forgot Password?</a></p>
		<button class="btn btn-primary pull-right">Sign In <i class="icon-signin"></i></button>
	</div>
</div>