<div class="offset4 span4 well">
  <h4><i class="icon-refresh"></i> Reset Password</h4>
  <hr/>
  <div class="clearfix form">
    <p><input type="password" name="password" placeholder="password"/></p>
    <p><input type="password" name="confirm" placeholder="confirm password"/></p>
    <button class="btn btn-primary pull-right">Submit</button>
  </div>
</div>