<p>Hello <%=fn%>.</p>

<p>We just received a request to reset the password for the account with this email address.  If you would like to continue resetting your password please visit this url: <a href="<%=url%>"><%=url%></a>.  This reset request will expire on <%=re.getMonth() + 1%>/<%=re.getDate()%>/<%=re.getFullYear()%> at <%=re.getHours()%>:<%=re.getMinutes()%> GMT.</p>

<p>Thanks,</p>
<p>The SAT-Prep team</p>